
/* Navbar
------------------------------------------ */
.nav-icon {
  float: left;
  margin: 20px;
  display: inline-block;
  line-height: 100%;
  font-size: 32px;
  color: #222;
}


.nav-iconactive {
  float: left;
  margin: 20px;
  display: inline-block;
  line-height: 100%;
  font-size: 32px;
  font-weight: 600;
  color: #1EAEDB;
}

.link-icon {
  position: relative;
  line-height: 100%;
  font-size: 42px;
  hover: -webkit-transform: scale(1.2);
 }

.section {
      padding: 8rem 0 7rem;}

@media (min-width: 550px){
  .section {
      padding: 12rem 0 11rem;}}

@media (min-width: 750px){
  .section {
      padding: 14rem 0 15rem;}}

@media (min-width: 1000px){
  .section {
      padding: 20rem 0 19rem;}}




.test {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(270deg, #18f0b8, #18a2f0, #db5640);
  background-size: 600% 600%;
  -webkit-animation: Gradient 60s ease infinite;
  -moz-animation: Gradient 60s ease infinite;
  animation: Gradient 60s ease infinite;
  }

      @-webkit-keyframes Gradient {
  		0%{background-position:0% 50%}
  		50%{background-position:100% 50%}
  		100%{background-position:0% 50%}
  	}
  	@-moz-keyframes Gradient {
  		0%{background-position:0% 50%}
  		50%{background-position:100% 50%}
  		100%{background-position:0% 50%}
  	}
  	@keyframes Gradient {
  		0%{background-position:0% 50%}
  		50%{background-position:100% 50%}
  		100%{background-position:0% 50%}
  	}
